<!-- <div>
  <h1>Product List</h1>
  {{Message}}
  <product-info [SomeString]="SomeValue" [prodInfo]="sampleProduct" (OnMessageBack)="recieveData($event)">
  </product-info>
</div> -->

<div>
  <h4 i18n>Product List</h4>
  <a routerLink="create">Create New</a><br>
  Search: <input type="text" [(ngModel)]="searchT" />
  <input type="radio" name="filterBy" [(ngModel)]="fby" value="ID" checked="true" />ID
  <input type="radio" name="filterBy" [(ngModel)]="fby" value="Name" />Name
  <input type="radio" name="filterBy" [(ngModel)]="fby" value="Price" />Price
  <table [mfData]="productList | filter:searchT:fby" #mf="mfDataTable" [mfRowsOnPage]="5">
    <tr>
      <th>
        <mfDefaultSorter by="id">ID</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="productName">Product Name</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="productPrice">Product Price</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="expirationDate">Expiration Date</mfDefaultSorter>
      </th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let product of mf.data">
      <td>{{product.id}}</td>
      <td>{{product.productName}}</td>
      <td>{{product.productPrice | currency:'Php' }}</td>
      <td>{{product.expirationDate | date:'yyyy/MM/d'}}</td>
      <td><button (click)="EditProduct(product)">Edit</button></td>
    </tr>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
      </td>
    </tr>
  </table>
</div>
<hr>
